[Unit]
Description=Lock screen before suspend for user %i
Before=sleep.target

[Service]
User=%i
Type=simple
Environment=DISPLAY=:0
ExecStart=/home/dmitry/.local/bin/lock.sh

[Install]
WantedBy=sleep.target
